@media (min-width: 768px)  {


.featured__description h2 {
	font-size: 2.3em;
}

.full-block {
	padding: 15vh 0 20vh 0;
}

.section__title {
	width: 60%;
}

.section__title h2 {
	font-size: 2.3em;
}

}

@media (min-width: 992px) {

/*LOCALES BAND*/

.locales__link {
	background-color: #FAF8F2;
	text-align: center;
	position: relative;
	padding: 5vh 10vw 10vh 10vw;
}

.locales__link img {
	width: 150px;
	padding: 5vh 0;
}

.locales__link h3 {
	text-transform: uppercase;
}

}