@media (min-width: 768px)  {


.featured__description h2 {
	font-size: 2.3em;
}

.full-block {
	padding: 15vh 0 20vh 0;
}

.section__title {
	width: 60%;
}

.section__title h2 {
	font-size: 2.3em;
}

}

@media (min-width: 992px) {

/*LOCALES BAND*/

.locales__link {
	background-color: #FAF8F2;
	text-align: left;
	position: relative;
	padding: 30px 10vw;
	text-align: center;
}

.locales__link img {
	text-align: left;
	width: 150px;
	padding: 0 0;
	vertical-align: middle;
}

.locales__link-section {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	text-align: right;
}

.locales__link h3 {
	text-transform: uppercase;
	display: inline-block;
	width: 50%;
	text-align: left;
	vertical-align: middle;
}

.locales__link a {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

}


@media (min-width: 1200px) {

.home-logo {
	margin-top: 20vh;
	width: 30%;
}

.home-slogan {
	position: absolute;
	width: 15%;
	bottom: 18vh;
	left: 42.5%;
}

}