@media (min-width: 768px)  {


.featured__description h2 {
	font-size: 2.3em;
}

.full-block {
	padding: 15vh 0 20vh 0;
}

.section__title {
	width: 60%;
}

.section__title h2 {
	font-size: 2.3em;
}

/*BEER PAGE*/

.beers__section {
	text-align: center;
}

.beer__item {
	width: 40%;
	display: inline-block;
	padding: 0;
	vertical-align: top;
	margin: 20px 4%;
	box-shadow: 4px 4px 15px rgba(0,0,0,0.2);
}

/*ABOUT PAGE*/

.staff {
	text-align: center;
}

.staff__card {
	margin: 20px 2%;
	width: 45%;
	display: inline-block;
	box-shadow: 3px 3px 20px rgba(0,0,0,0.2)
}

.rrss {
	padding-top: 0px;
}

.rrss h2 {
	margin: 30px 0;
}

.rrss img {
	width: 49%;
	display: inline-block;
}

/*LOCATIONS PAGE*/

.locations__front {
	padding: 0 15vw;
}

.locations__front h2 {
	padding-top: 40vh;
}

.bars {
	text-align: center;
	padding: 30px 0;
}

.bars__item {
	width: 45%;
	margin: 0 1% 30px 1%;
	display: inline-block;
	position: relative;
	top: 0px;
	text-align: left;
}

.tienda__landing {
	color: #fff;
	padding: 70vh 25vw 0 25vw;
	text-transform: none;
	font-size: 2rem;
}

}

@media (min-width: 992px) {

/*LOCALES BAND*/

.locales__link {
	background-color: #FAF8F2;
	text-align: left;
	position: relative;
	padding: 30px 10vw;
	text-align: center;
}

.locales__link img {
	text-align: left;
	width: 150px;
	padding: 0 0;
	vertical-align: middle;
}

.locales__link-section {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	text-align: right;
}

.locales__link h3 {
	text-transform: uppercase;
	display: inline-block;
	width: 50%;
	text-align: left;
	vertical-align: middle;
}

.locales__link a {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

/*ABOUT PAGE*/

.team__text {
	display: inline-block;
	width: 49%;
	vertical-align: middle;
	padding: 0 40px;
}

.flexslider {
	margin: 0;
}

.team__slider {
	display: inline-block;
	width: 50%;
	vertical-align: middle;
}

/*LOCATIONS PAGE*/

.locations__front h2 {
	font-size: 2.8em;
}

.locations__front p {
	font-size: 1.3em;
}

}


@media (min-width: 1200px) {

.home-logo {
	margin-top: 20vh;
	width: 30%;
}

.home-slogan {
	position: absolute;
	width: 15%;
	bottom: 18vh;
	left: 42.5%;
}

.featured {
	background-color: #91B524;
}

.featured__img {
	display: inline-block;
	position: relative;
	/*display: grid;*/
	width: 50%;
	/*float: left;*/
}

.featured__img-bkg {
	top: 0px;
	left: 0px;
	max-width: 100%;
	height: 90vh;
}

.featured__img-beer {
	width: 35%;
	position: absolute;
	top: 0px;
	left: 32.5%;
	z-index: 10;
}

.featured__description {
	display: inline-block;
	width: 49%;
	text-align: center;
	color: #fff;
	/*float: left;*/
	padding: 15vh 10vw;
	vertical-align: top;
}

.full-block {
	padding: 30vh 0;
}

.section__title {
	width: 40%;
	display: inline-block;
	vertical-align: middle;
}

.section__title p {
	margin-bottom: 45px;
	letter-spacing: 0.5px;
}

.video__section-img {
	display: inline-block;
	width: 40%;
	vertical-align: middle;
	margin-left: 15%;
}

/*FOOTER*/

.footer {
	/*display: flex;
	justify-content: space-between;*/
}

.footer__logo {
	width: 300px;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	margin: 0 5%;
}

.contact {
	display: inline-block;
	vertical-align: middle;
	width: 40%;
	margin: 0 5%;
}

.footer__rrss-separation {
	width: 40%;
	margin: 0 auto;
	height: 1px;
	background-color: #fff;
	margin-top: 15px;
}

/*BEER PAGE*/

.beer__front img {
	padding-top: 70vh;
	width: 20%;
}

.beer__item {
	width: 27%;
	display: inline-block;
	padding: 0;
	vertical-align: top;
	margin: 40px 2%;
	box-shadow: 4px 4px 15px rgba(0,0,0,0.2);
}

/*ABOUT PAGE*/

.about_front_logo {
	width: 25%;
	padding-top: 10vh;
}

.about__front h2 {
	font-size: 2.5em;
}

.about__front p {
	margin: 0 auto;
	font-size: 1em;
	width: 100%;
}

.about_front_slogan {
	width: 20%;
	display: inline-block;
	margin-top: 80px;
}

.staff__card-container {
	display: flex;
}

.staff__card {
	margin: 20px 1%;
	width: 22%;
	display: inline-block;
	box-shadow: 3px 3px 20px rgba(0,0,0,0.2)
	flex: 1;
}

.staff__card-text {
	font-size: 0.85em;
}

.team {
	padding: 140px 8vw;
}

/*LOCATIONS PAGE*/

.locations__front {
	padding: 0 30vw;
}

.locations__front h2 {
	margin: 0;
	padding-top: 35vh;
}

.bars {
	padding: 40px 0;
}

.bars__item {
	width: 30%;
	margin: 0 1% 30px 1%;
	display: inline-block;
	position: relative;
	top: 0px;
	text-align: left;
}

.locations {
	text-align: center;
	padding: 80px 0;
	background-color: #FAF8F2;
}

.locations h2 {
	text-transform: uppercase;
	font-size: 2em;
}

.locations__block {
	text-align: center;
	/*display: flex;*/
	margin-top: 70px;
	display: block;
}

.locations__block-item {
	/*flex: 1;*/
	width: 20%;
	margin: 30px auto;
	position: relative;
}

.locations__block-item-title {
	position: relative;
	width: 100%;
	background-color: #D31F26;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
	padding: 10px 10px;
	border-radius: 2px;
	z-index: 50;
	cursor: pointer;
}

.list_button {
	position: absolute;
	right: 20px;
	background-color: #fff;
	color: #D31F26;
	border-radius: 50%;
	padding: 2px 6px;
	display: inline-block;
	margin-left: 10%;
	transition: 0.5s;
}

.list_button-rotate {
	transform: rotate(90deg);
}

.locations__block-item-list {
	background-color: #e9e9e9;
	width: 100%;
	border-radius: 0 0 2px 2px;
	transform: translateY(-50px);
	visibility: hidden;
	opacity: 1;
	transition: all 0.5s ease-out;
	display: none;
}

.locations__block-item-list-show {
	display: block;
	opacity: 1;
	visibility: visible;
	transform: translateY(0px);
}

.locations__block-item-list li {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.7em;
	letter-spacing: 1px;
	padding: 10px 0;
	border-bottom: solid white 2px;
}

.tienda__landing {
	color: #fff;
	padding: 70vh 25vw 0 25vw;
	text-transform: none;
	font-size: 2rem;
}

}

@media (min-width: 1440px) {

.featured__img {
	width: 50%;
}

.featured__description {
	text-align: left;
	padding: 20vh 10vw;
	width: 49%;
}

.video__section-img {
	display: inline-block;
	width: 45%;
	vertical-align: middle;
	margin-left: 14%;
}

/*ABOUT PAGE*/

.team h2 {
	font-size: 2.3em;
}

.rrss h2 {
	font-size: 2em;
}

}

@media (min-width: 1900px) {

.home-logo {
	margin-top: 20vh;
	width: 25%;
}

.home-slogan {
	position: absolute;
	width: 10%;
	bottom: 15vh;
	left: 45%;
}

.featured__img {
	display: inline-block;
	position: relative;
	/*display: grid;*/
	width: 40%;
	/*float: left;*/
}

.featured__img-bkg {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.featured__img-beer {
	width: 38%;
	position: absolute;
	top: 0px;
	left: 31%;
	z-index: 10;
}

.featured__description {
	display: inline-block;
	width: 59%;
	color: #fff;
	/*float: left;*/
	padding: 25vh 15vw;
	vertical-align: top;
}

/*BEERS PAGE*/

.beer_info_block p {
    font-size: 1em;
    margin: 0;
}

/*ABOUT PAGE*/

.about__front {
	height: 100vh;
}

.about_front_slogan {
	width: 15%;
	display: inline-block;
	margin: 50px;
}

/*LOCATIONS PAGE*/

.locations__front {
	padding: 0 35vw;
}

.bars {
	padding: 50px 0;
}

.bars__item {
	width: 23%;
	margin: 0 1% 30px 0.2%;
	display: inline-block;
	position: relative;
	top: 0px;
	text-align: left;
}

}
