* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

.shadowed {
	filter: url(#drop-shadow);
	-webkit-filter: drop-shadow(9px 9px 7px rgba(0,0,0,0.6));
	filter: drop-shadow(9px 9px 7px rgba(0,0,0,0.6));
}

.mi-contenedor {
  max-width: 2000px;
}

.front {
	background-image: url('../images/home-bkg.jpg');
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	position: relative;
}

.home-logo {
	margin-top: 33vh;
	width: 70%;
}

.home-slogan {
	position: absolute;
	width: 30%;
	bottom: 20vh;
	left: 35%;
}

.featured {
	position: relative;
}

.featured__img-bkg {
	width: 100%;
}

.featured__img-beer {
	width: 40%;
	position: absolute;
	top: -60px;
	left: 30%;	
}

.featured__description {
	position: relative;
	background-color: #3DBED5;
	text-align: center;
	color: #fff;
	padding: 10vh 10vw;
}

.featured__description h2 {
	text-transform: uppercase;
	margin-top: 0;
}

.featured__description-beerlink {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	background-color: #fff;
	padding: 5px 10px;
	color: #3DBED5;
	margin-top: 250px;
	text-transform: uppercase;
	font-size: 0.9em;
}

.featured__description-beerlink span {
	display: inline-block;
	color: #fff;
	background-color: #3DBED5;
	padding: 2px 7px;
	border-radius: 50%;
	margin-left: 10px;
}

.quality {
	background-image: url('../images/quality-bkg.jpg');
	background-size: cover;
	height: 80vh;
	padding: 5vh 10vw;
	position: relative;
}

.white-text {
	color: #fff;
}

.title__separation {
	height: 4px;
	background-color: #fff;
	width: 10vw;
}

.video__square {
	position: absolute;
	width: 80%;
	bottom: 30px;
	left: 10%;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	height: 30vh;
	text-align: center;
	padding-top: 12.5vh;
}

.link__button {
	color: #fff;
	background-color: #D31F26;
	font-family: 'Lato', sans-serif;
	padding: 5px 10px;
	text-transform: uppercase;
	font-size: 0.9em;
	letter-spacing: 1px;
}

.tour {
	background-image: url('../images/tour-bkg.jpg');
	background-size: cover;
	height: 80vh;
	padding: 5vh 10vw;
	position: relative;
}

.tour span {
	display: inline-block;
	margin-top: 15vh;
}

.locales__link {
	background-color: #FAF8F2;
}