* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	line-height: 1.1em;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.shadowed {
	filter: url(#drop-shadow);
	-webkit-filter: drop-shadow(9px 9px 7px rgba(0,0,0,0.6));
	filter: drop-shadow(9px 9px 7px rgba(0,0,0,0.6));
}

.mi-contenedor {
  max-width: 2000px;
  margin: 0 auto;
}

.front {
	background-image: url('../images/home-bkg.jpg');
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	position: relative;
}

.home-logo {
	margin-top: 33vh;
	width: 70%;
}

.home-slogan {
	position: absolute;
	width: 30%;
	bottom: 20vh;
	left: 35%;
}

.featured {
	position: relative;
}

.featured__img {
	position: relative;
	display: grid;
}

.featured__img-bkg {
	width: 100%;
}

.featured__img-beer {
	width: 40%;
	position: absolute;
	top: -60px;
	left: 30%;	
}

.featured__description {
	position: relative;
	background-color: #91B524;
	text-align: center;
	color: #fff;
	padding: 10vh 10vw;
}

.featured__description h2 {
	text-transform: uppercase;
	margin-top: 0;
}

.featured__description h4 {
	text-transform: uppercase;
	font-size: 1.1em;
	margin-top: 0;
}

.featured__description-beerlink {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	background-color: #fff;
	padding: 5px 10px;
	color: #91B524;
	margin-top: 250px;
	text-transform: uppercase;
	font-size: 0.9em;
}

.featured__description-beerlink span {
	display: inline-block;
	color: #fff;
	background-color: #91B524;
	padding: 2px 7px;
	border-radius: 50%;
	margin-left: 10px;
}

.quality {
	background-image: url('../images/quality-bkg.jpg');
	background-size: cover;
	padding: 0 10vw;
	position: relative;
}

.full-block {
	padding: 10vh 0 15vh 0;
}

.section__title h2 {
	text-transform: uppercase;
}

.section__title p {
	margin-bottom: 50px;
	letter-spacing: 0.5px;
}

.link__button {
	color: #fff;
	background-color: #D31F26;
	border-radius: 2px;
	padding: 10px 20px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 0.8em;
	letter-spacing: 1px;
}

.white-text {
	color: #fff;
}

.title__separation {
	height: 4px;
	background-color: #fff;
	width: 10vw;
}

.video__square {
	display: none;
	/*width: 80%;
	bottom: 30px;
	left: 10%;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	height: 30vh;
	text-align: center;
	padding-top: 12.5vh;*/
}

.tour {
	background-image: url('../images/tour-bkg.jpg');
	background-size: cover;
	padding: 0 10vw;
	position: relative;
}

/*LOCALES BAND*/

.locales__link {
	background-color: #FAF8F2;
	text-align: center;
	position: relative;
	padding: 5vh 10vw 10vh 10vw;
}

.locales__link img {
	width: 150px;
	padding: 5vh 0;
}

.locales__link h3 {
	text-transform: uppercase;
}

/*FOOTER*/

.footer {
	background-color: #8CBA37;
	padding: 5vh 10vw;
	text-align: center;
}

.footer__logo {
	width: 170px;
}

.contact h2 {
	color: #fff;
	text-transform: uppercase;
}

/*CONTACT FORM*/

.contact__form {
	text-align: right;
}

input[type=text], select, textarea {
	-webkit-appearance: none;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
	-webkit-appearance: none;
  background-color: #D31F26;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer__rrss {
	margin-top: 60px;
}

.footer__rrss img {
	width: 45px;
	margin: 0 15px;
}

.footer__rrss-separation {
	width: 80%;
	margin: 0 auto;
	height: 1px;
	background-color: #fff;
	margin-top: 15px;
}

.footer__rrss p {
	color: #fff;
	font-size: 0.75em;
}



/*BEER PAGE*/

.beer__front {
	background-image: url('../images/beer-bkg.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
	text-align: center;
	position: relative;
}

.beer__front img {
	padding-top: 75vh;
	width: 45%;
}

.down-arrow {
	background-color: #D31F26;
	border-radius: 50%;
	display: block;
	width: 40px;
	height: 40px;
	padding: 8px;
	position: absolute;
	right: 15px;
	bottom: 15px;
}

.fa-arrow-down {
	color: #fff;
}

.beer__item {
	position: relative;
}

.beer__item-banner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -5;
}

.beer__item-description {
	z-index: 5;
	text-align: center;
	padding: 110px 0 50px 0;
}

.beer__item-description h3 {
	text-transform: uppercase;
	font-size: 2.3em;
	margin: 0 0 16px 0;
}

.beer__item-description-division {
	background-color: #000;
	height: 6px;
	width: 50px;
	margin: 0 auto
}

.beer__item-description p {
	padding: 0 10%;
}

.beer__item-description img {
	width: 100%;
	margin-top: 40px;
}

.beer__item-description span {
	display: inline-block;
	margin-top: 40px;
}

.black-block {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	transition: 0.5s;
}

.beer_info_block {
	visibility: hidden;
	opacity: 0;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
	text-align: center;
	padding: 40px 10%;
	position: absolute;
	width: 95%;
	top: 2%;
	left: 2.5%;
	height: 96%;
	transition: 1s;
}

.beer-info-visible {
	visibility: visible;
	opacity: 1;
}

.beer_info_block h3 {
	font-size: 2.3em;
	text-transform: uppercase;
	margin: 0;
}

.beer_info_block .beer__item-description-division {
	background-color: #fff;
	margin: 20px auto;
}

.beer_info_block p {
	font-size: 0.8em;
	margin: 0;
}

.beer_info-item {
	margin-top: 30px;
}

.beer_info-item h4 {
	font-size: 0.8em;
	text-transform: uppercase;
	margin: 0;
}

.beer_info-item img {
	margin-top: 20px;
	width: 50px;
}

.beer_info-item h2 {
	font-size: 2.6em;
	text-transform: uppercase;
	margin: 10px;
}


/*PAGINA NOSOTROS*/

.about__front {
	position: relative;
	/*height: 100vh;*/
	background-color: #FAF8F2;
	text-align: center;
	padding: 0 10vw;
}

.about_front_logo {
	width: 60%;
	padding-top: 15vh;
}

.about__front h2 {
	text-transform: uppercase;
}

.about__front p {
	font-size: 0.85em;
	letter-spacing: 0.5px;
}

.about_front_slogan {
	width: 40%;
	display: inline-block;
	margin: 30px 0;
}

.staff__title {
	background-color: #000;
	text-align: center;
	color: #fff;
}

.staff__title {
	text-transform: uppercase;
	padding: 15px 0;
	font-size: 1.5em;
}

.staff__card {
	background-color: #FAF8F2;
	margin-bottom: 50px;
	padding-bottom: 40px;
}

.staff__card-profile {
	width: 100%;
}

.staff__card h3 {
	font-size: 1.5em;
	text-transform: uppercase;
}

.staff__card-text {
	padding: 10px 10%;
}

.staff__card-text-separation {
	background-color: #000;
	height: 3px;
	width: 30%;
	margin: 0 auto;
}

.linkedin-logo {
	display: block;
	margin: 0 auto;
	padding: 20px 0;
	width: 50px;
}

.team {
	background-color: #000;
	color: #fff;
	padding: 30px 8vw;
	text-align: center;
}

.team h2 {
	text-transform: uppercase;
}

.team p {
	margin-bottom: 30px;
}

.rrss {
	text-align: center;
	padding-top: 30px;
}

.rrss h2 {
	text-transform: uppercase;
	padding: 0 10vw;
}

.rrss img {
	width: 100%;
	display: flex;
}

/*LOCATIONS PAGE*/

.locations__front {
	background-image: url('../images/locations-bkg.jpg');
	background-size: cover;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	color: #fff;
	padding: 0 10vw;
}

.locations__front h2 {
	text-transform: uppercase;
	padding-top: 35vh;
	font-size: 1.8em;
}

.locations__front p {
	font-size: 0.9em;
}

.bars__item {
	width: 90%;
	margin: 0 auto 30px auto;
	position: relative;
	top: -60px;
}

.bars__item-local {
	width: 100%;
}

.bars__item-text {
	position: absolute;
	bottom: 20px;
	left: 10%;
	color: #fff;
}

.bars__item-text h3,h4 {
	text-transform: uppercase;
	margin: 0 0 10px 0;
}

.bars__item-text img {
	width: 20%;
}